.mainplanes{
margin-top: 20px;
    .plan{
        text-align: center;
        img{
            margin: auto;
            height: 350px;
            object-fit: cover;

        }
        .botonadquirir{
            margin-top: auto;
            color: black;
            font-weight: $negrita_letra;
            margin-top: 20px;
        }
        .titulo-card{
            font-weight:600;
        }
    }
    .p1{
        @extend .plan;
        background-color: map-get($planes,plan1);
    }
    .p2{
        @extend .plan;
        background-color: map-get($planes,plan2);
    }
    .p3{
        @extend .plan;
        background-color: map-get($planes,plan3);
    }
}
