.maincontacto{
    display:grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    margin-bottom: 50px;

    .cardcontacto{
    @include center-center-center;
    }
    
    .formcontacto{
    background-color: rgba(250, 235, 215, 0.596);
    border: 1px black solid;
    border-radius: 3%;
    padding: 10px;
    margin-right: 10px;
    }
}