$negrita_letra : bolder;
$wrap_flex : wrap;
$img_contain : contain;
$raleway : 'Raleway', sans-serif;
$monserrat : monserrat;

/*map*/

$planes:(
    plan1: rgba(127, 255, 212, 0.658),
    plan2: rgba(255, 235, 205, 0.637),
    plan3: rgba(255, 0, 0, 0.658)
);